body {
background-color: #004170;
}

h1 {
    color: white;
    font-size: 40px;
    font-family: monospace;
  }
  
  #PsgBio {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 300;
    color: white;
  }
  
  
  h2 {
    color: white;
    font-size: 35px;
    font-family: monospace;
  }
  
  u {
    color: white;
  }

  iframe {
    border-radius: 40px;
  }

  h1 {
    color: #003170;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  } 

  h2 {
    font-size: 14px;
    color:#003170;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }

  a {
    color: white;
  }

